{# Новости #}

{% extends 'main/base.html' %}

{% block title %}Мои статьи{% endblock %}

{% block content %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-12">
                {% if news %}
                    {% for item in news %}
                    <div class="card mb-3">
                        <div class="card-header">
                            <h5 class="card-title">{{ item.title }}</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">{{ item.anons }}</p>
                            <a href="{% url 'news-detail' item.id %}" class="btn btn-dark">Прочитать</a>
                        </div>
                        <div class="card-footer text-muted">
                            {{ item.date }}
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                <h1><strong>У вас нет статьей!</strong></h1>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
