{# Про нас #}

{% extends 'main/base.html' %}

{% block title %}
{{ block.super }} Про нас
{% endblock %}

{% block content %}

<div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Barev! Я Каренович )</h2>
          <p class="lead"><strong>Рад видеть на своей страничке, напианной на Django и PostgreSQL</strong></p>
        <p class="lead">Над дизайном поработаю в следующем проекте, извиняюсь, люблю )</p>
      </div>

    </div>

{% endblock %}
