{# Про нас #}

{% extends 'main/base.html' %}

{% block title %}Про нас{% endblock %}

{% block content %}
    <div class="features">
        <h1>Привет! Barev )</h1>
        <p>Рад видеть вас в своем сайтике</p>
        <p>Над дизайном поработаю в следующем проекте</p>
        <p>И БД будет уже на PostgreSQL</p>
        <p>Предназначение данного продукта - сдеплоить его, а также научиться работать с классами во view</p>
        <p>Я Каренович ) <a class="me-4 py-2 text-dark text-decoration-none" href="https://github.com/thekarenovich">thekarenovich</a> </p>
    </div>
{% endblock %}
